/*
*   Variaveis
*/

:root{
    --color-azul-claro: #8ecae6;
    --color-azul-medio: #219ebc;
    --color-azul-escuro: #023047;
    --color-amarelo: #ffb703;
    --color-laranja: #fb8500;
    --color-dark: #0a0a0a;
    --color-light: #fff;
}