.form-container {
    height: 100%;
    width: 100%;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    transition: 1s;
}

.form-title {
    font-family: 'NotoSans', sans-serif;
    font-size: 2.3rem;
    font-weight: 100;
    color: var(--color-preto);
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 18.5rem;
    height: 2.5rem;
    padding: 10px 20px;
    border-style: none;
    background: #F3F3F3;
}

.form-button {
    width: 8.75rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 3.125rem;
    border: 2px solid var(--color-azul-escuro);
    background: transparent;
    font-family: 'NotoSans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: var(--color-azul-escuro);
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
}

.form-button:hover {
    background: var(--color-azul-escuro);
    color: var(--color-light);
}

.notificationErro {
    padding: .5rem .5rem 1px .5rem;
    border-bottom: solid 1px rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c74f4f;
}