/*
*   Pagina Inicial
*/
.hero_page{
    width: 100%;
    height: 100VH;
    background: var(--sg-color-cinzaB);
}

.header {
    background: var(--sg-color-cinzaA);
    padding: 1rem;
}
.menu{
    background: var(--sg-color-azul);

}

.menu_box{
    background: var(--sg-color-amarelo);
}

.menu_lista{
    background: var(--sg-color-branco);
    display: flex;
    flex-direction: row;
}

.logo{
    background: var(--sg-color-laranja);
    width: 20%;
}


.link {
    text-decoration: none;
    text-decoration-style: none;
}

.corpo {
    background: var(--sg-color-amarelo);
}