.page{
    height: 100vh;
        background: rgb(151, 47, 212);
        background: -moz-linear-gradient(17deg, rgb(187, 113, 255) 0%, rgb(172, 84, 255) 0%, rgb(142, 29, 248) 0%);
        background: -webkit-linear-gradient(17deg, rgb(187, 113, 255) 0%, rgb(172, 84, 255) 0%, rgb(142, 29, 248) 0%);
        background: linear-gradient(17deg, rgb(187, 113, 255) 0%,rgb(172, 84, 255) 0%, rgb(142, 29, 248) 0%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#402fd4", endColorstr="#67cbff", GradientType=1);
}

.tabelaUsers th{
    border: solid 1px black;
    padding: 0 1rem;
}